/* src/index.css or src/App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7f9; /* A slightly off-white background for the whole page */
  color: #333; /* Default text color */
}

/* Consider a base font size and line height for better readability */
html {
  font-size: 16px; /* Base font size */
}

body, button, input, select, textarea {
    font-family: inherit; /* Ensure form elements inherit the body font */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
